
html {
    box-sizing: border-box;
    font-size: 100%;
}

*,*::after,*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-size: $bodyfont;
    font-family: 'Alata', sans-serif;
    color: $black;
    min-height: 100vh;
}

img {
    max-width: 100%;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Josefin Sans', sans-serif;
}

a {
    text-decoration: none;
}

p {
    line-height: 1.5;
}

section {
    padding-top: 9.375rem;

    @include breakpoint-down(small){
        padding-top: 7.25rem;
    }
}

.logo {
    width: 12.5rem;

    @include breakpoint-down(small){
        width: 9.375rem;
    }

    img {
        width: 100%;
    }
}

.copy {
    color: $darkGray;
}

.flex {
    display: flex;

    &-jc-sb {
        justify-content: space-between;
    }

    &-jc-c {
        justify-content: center;
    }

    &-ai-c {
        align-items: center;
    }

    &-col {
        flex-direction: column;
    }
    &-col-mob {
        @include breakpoint-down(small){
            flex-direction: column;
            gap: 2.5rem;
        }
    }
}

.container {
    width: 71.25rem;
    margin: 0 auto;
    padding-inline: 1.25rem;

    @include breakpoint-down(large){
        width: 100%;
    }

    @include breakpoint-down(medium){
        width: 100%;
    }

    @include breakpoint-down(small){
        width: 100%;
    }
}

.hide-for-desktop {
    @include breakpoint-up(medium){
        display: none;
    }
}

.hide-for-mobile {
    @include breakpoint-down(small){
        display: none;
    }
}

.icons {
    gap: 1rem;
    margin-bottom: 1rem;
    a {
        font-size: 1.2rem;
        color: $white;
        text-align: center;
    }

    
}

.nav-links, .icons {
    gap: 2rem;

    
    a {
        color: $white; 
        position: relative;

        &::before {
        content: "";
        display: block;
        position: absolute;
        height: 0.1875rem;
        width: 1.5625rem;
        background:$white;
        margin: 0 auto;
        left: 0;
        right: 0;
        bottom: -10px;
        opacity: 0;
        transition: opacity 300ms ease-in-out;
    }

    &:hover {

        &::before{
            opacity: 1;
        }
    }           
    }
}

.cta {
    letter-spacing: 3px;
    color: $veryDarkGray;
    text-align: center;
    border: 1px solid $veryDarkGray;
    padding: 0.5rem;
    text-transform: uppercase;

    &:hover{
        background-color: $black;
        color: $white;
    }
}

.general {
    position: relative;
    color: rgba(255, 255, 255,1);

    img {
        display: inline-block;
        width: 100%;
    }

    h3 {
        position: absolute;
        z-index: 2000;
        text-transform: uppercase;
        font-size: 1.5rem;
        font-weight: 300;
    }
}

//js classes

.hide {
    display: none;
}


.noscroll {
    overflow: hidden;
    background: $black;
    z-index: 1000;
}


.active {
    display: block;
}

.burger {

    > span:first-child{
        transform: rotate(45deg);
    }
    
    > span:nth-child(2){
        opacity: 0;
    }
    
    > span:last-child{
        transform: rotate(-45deg);
    }

}