
//Colors

$white: hsl(0, 0%, 100%);
$black: hsl(0, 0%, 0%);
$darkGray: hsl(0, 0%, 55%);
$veryDarkGray: hsl(0, 0%, 41%);

//fonts

$bodyfont: 0.9375rem;

//font family

$fontFamily_1: 'Alata', sans-serif;
$fontFamily_2: 'Josefin Sans', sans-serif;

